body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.mobills.com.br%2Fmoedas%2Fconversor-de-moedas%2F&psig=AOvVaw0ssK8tFQFLgX_NZRRvUSnX&ust=1731152324822000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCLjJ6I3TzIkDFQAAAAAdAAAAABAE);

    
}
#form {
    background-color: rgb(166, 255, 0);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(184, 163, 163, 0.2);
    width: 300px;
   
}

#input-box {
    display: flex;
    flex-direction: column;
}

#texts {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #424342;
}

#limpar button {
    background-color: #dc3545;
}

#limpar button:hover {
    background-color: #c82333;
}
input{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 95%;
}
